In [131]:
%autoreload 2

In [132]:
from utils.pipeline import Pipeline

p = Pipeline("example_config.json")

--- __init__ ---
--- validate config ---
Config: {'data_filename': 'data/example_data.csv', 'outcome': 'Survived'}

In [133]:
p.preprocess()

--- preprocess ---
--- one_hot_encode ---
Index(['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female',
       'Sex_male', 'Sex_nan', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Embarked_nan'],
      dtype='object')

In [134]:
p.data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Sex_nan,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan
0,0,3,22.0,1,0,7.2500,0,1,0,0,0,1,0
1,1,1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,0,1,0
3,1,1,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,0,3,35.0,0,0,8.0500,0,1,0,0,0,1,0

In [135]:
p.model()

--- model ---
X_train.shape (711, 12) y_train.shape (711,)
0.8033707865168539

In [136]:
p.postprocess()

--- postprocessing ---

True