In [143]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [144]:
%autoreload 2

In [145]:
from utils.pipeline import Pipeline

p = Pipeline("example_config.json")

--- __init__ ---

In [146]:
p.preprocess()

--- preprocess ---
Original data shape: (889, 8)
--- one_hot_encode ---
Data shape after one_hot_encode: (889, 13)
--- impute ---
NaN counts pre-imputation:
 Age           177
SibSp           0
Parch           0
Fare            0
Survived        0
Pclass_1        0
Pclass_2        0
Pclass_3        0
Sex_female      0
Sex_male        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
dtype: int64
NaN counts post-imputation:
 Age           0
SibSp         0
Parch         0
Fare          0
Survived      0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [147]:
p.data.head()

,Age,SibSp,Parch,Fare,Survived,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,1,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,0,1,0,1,0,0,1

In [148]:
p.model()

--- model ---
X_train.shape (711, 12) X_test.shape (178, 12)
LogisticRegression accuracy on test set: 0.8089887640449438

In [149]:
p.postprocess()

--- postprocessing ---