In [314]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [315]:
train = pd.read_csv('titanic/gender_submission.csv')
print(train.shape)
train.head()

(418, 2)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1